.ron{
    font-style: normal;
}

img{
    width: 200px;
    height: 200px;
}
#A{
    color: blue;
}
#B{
    color: green;
}
#C{
    color: black;
}
#D{
    color: yellow;
}
#F{
    color: red;
}
#G{
    color: rgb(0, 255, 149);
}
#H{
    color: orange;
}
#I{
    color: rgb(15, 99, 195);
}
#J{
    color: purple;
}
#L{
    color: rgb(215, 184, 184);
}
#M{
    color: green;
}
#N{
    color: rgb(130, 193, 130);
}
#po{
    color: red;
}
#K{
    color: red;
}
#o{
    color: red;
}
#u{
    color: rgb(135, 206, 250);
}
#in{
    color: orange;
}
#uk{
    color: rgb(31, 15, 119);
}
#uae{
    color: rgba(65, 181, 22, 0.929);
}
#mo{
    color: red;
}
#sw{
    color: rgb(255, 204, 0);
}
#ge{
    color: black;
}
#ind{
    color: rgb(189, 30, 30);
}
#tu{
    color: red;
}
#yt{
    color: rgb(0, 0, 0);
}

